 .u-section-1 {
  min-height: 1031px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 169px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 416px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 111px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 40px auto 0 0;
  padding: 10px 87px;
}

.u-section-1 .u-image-1 {
  min-height: 416px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1550251592-aee2da85a87e.jpeg");
  background-size: cover;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 69px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 416px;
  background-image: url("images/Octavia-4-Sportline-Phoenix-03.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 776px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 343px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-1 .u-image-2 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1705px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -62px;
    margin-bottom: -62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 592px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 296px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 317px;
  }

  .u-section-1 .u-image-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 373px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-2 {
    min-height: 340px;
  }
} .u-section-2 {
  min-height: 544px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 424px;
  --gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 464px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 350px;
    grid-gap: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 882px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 62px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 758px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 50vw;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 838px;
  }
} .u-section-3 {
  background-repeat: no-repeat;
  background-image: url("images/Octavia-4-Combi-Sportline-Phoenix-02.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 626px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 50% 50%;
  }
} .u-section-4 {
  min-height: 431px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 33px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 394px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-4 .u-text-1 {
  margin: 58px 1261px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 21px 70px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 446px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 837px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 566px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 637px;
    margin-left: -5px;
  }

  .u-section-4 .u-text-2 {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1139px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -4px;
    margin-bottom: -4px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 49px;
    margin-right: 497px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 321px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: 138px;
    margin-left: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 824px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  width: calc(((100% - 1140px) / 2)  + 549px);
  margin: 31px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 620px;
  --gap: 30px;
}

.u-section-5 .u-list-item-1 {
  --radius: 50px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 115px;
}

.u-section-5 .u-text-3 {
  margin: 21px 0 0 115px;
}

.u-section-5 .u-list-item-2 {
  --radius: 50px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0 auto 0 115px;
}

.u-section-5 .u-text-5 {
  margin: 21px 0 0 115px;
}

.u-section-5 .u-list-item-3 {
  --radius: 50px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin: 0 auto 0 115px;
}

.u-section-5 .u-text-7 {
  margin: 21px 0 0 115px;
}

.u-section-5 .u-list-2 {
  width: calc(((100% - 1140px) / 2)  + 549px);
  margin: -619px 0 60px auto;
}

.u-section-5 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 505px;
  --gap: 30px;
}

.u-section-5 .u-list-item-4 {
  --radius: 50px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-text-8 {
  margin: 20px auto 0 115px;
}

.u-section-5 .u-text-9 {
  margin: 20px auto 0 115px;
}

.u-section-5 .u-list-item-5 {
  --radius: 50px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-text-10 {
  margin: 20px auto 0 115px;
}

.u-section-5 .u-text-11 {
  margin: 20px auto 0 115px;
}

.u-section-5 .u-list-item-6 {
  --radius: 50px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 30px 26px;
}

.u-section-5 .u-text-12 {
  margin: 20px auto 0 115px;
}

.u-section-5 .u-text-13 {
  margin: 20px auto 0 115px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1349px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 591px;
    grid-gap: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 371px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 371px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 371px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 281px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 87px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 281px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 87px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 281px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1539px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 801px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: -35px;
    margin-left: 97px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 10px;
    margin-left: 97px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: -35px;
    margin-left: 97px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 10px;
    margin-left: 97px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: -35px;
    margin-left: 97px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 10px;
    margin-left: 97px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 71px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 71px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 71px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 71px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 71px;
  }

  .u-section-5 .u-text-13 {
    margin-left: 71px;
  }
} .u-section-6 {
  min-height: 866px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 41px 0 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 513px;
  --gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 421px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-6 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 782px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 86px;
  }

  .u-section-6 .u-list-1 {
    width: 343px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 516px;
    width: 1040px;
    margin-right: 0;
    margin-left: 0;
    grid-gap: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 343px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 866px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 513px;
  }

  .u-section-6 .u-image-1 {
    height: 704px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 2813px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 2039px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 887px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 774px;
  }

  .u-section-6 .u-image-1 {
    height: 605px;
    width: 310px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 689px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 689px;
  }
} .u-section-7 {
  min-height: 1042px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 74px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 269px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 10px;
}

.u-section-7 .u-text-2 {
  margin: 20px 10px 0;
}

.u-section-7 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 39px auto 0;
  padding: 10px 79px 10px 78px;
}

.u-section-7 .u-image-1 {
  min-height: 621px;
  --radius: 50px;
  height: auto;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/Octavia-4-Sportline-Phoenix-03.jpg'), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  margin-top: 19px;
  margin-bottom: 59px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 924px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 2px;
    margin-bottom: 20px;
    min-height: 554px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 960px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 13px;
    margin-bottom: 59px;
    min-height: 524px;
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 978px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 934px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 19px;
    padding-right: 10px;
    padding-left: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 575px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 495px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-8 .u-text-1 {
  margin: 132px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 495px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-8 .u-label-4 {
  width: 100px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  width: 100%;
  padding: 9px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 13px;
  }
} .u-section-9 {
  min-height: 1076px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 49px 30px 50px;
}

.u-section-9 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 91px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 41px 488px 0 0;
}

.u-section-9 .u-text-5 {
  line-height: 1.8;
  margin: 19px 128px 0 0;
}

.u-section-9 .u-image-1 {
  min-height: 496px;
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1736195862851-1797cc4bcf82.jpeg");
  background-size: cover;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 27px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 490px;
  --radius: 50px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 28px 30px 50px;
}

.u-section-9 .u-text-6 {
  margin: 0 auto 0 2px;
}

.u-section-9 .u-text-7 {
  line-height: 1.8;
  margin: 19px 0 0;
}

.u-section-9 .u-image-2 {
  min-height: 490px;
  background-image: url("images/photo-1648304179037-cebd797bf5b8.jpeg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 733px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 355px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 409px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-9 .u-image-2 {
    min-height: 404px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 569px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 247px;
  }

  .u-section-9 .u-image-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-9 .u-image-2 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1354px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-image-1 {
    min-height: 355px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-image-2 {
    min-height: 432px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1046px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 47px;
  }

  .u-section-9 .u-image-1 {
    min-height: 320px;
  }

  .u-section-9 .u-image-2 {
    min-height: 272px;
  }
}